@model WebApplication.Models.Plan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">

                                <h2>Create Plan</h2>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StatusID, "StatusID", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Startdate, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Startdate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Startdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Duedate, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Duedate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Duedate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", cols = "20" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10" style="text-align:right">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>


                            @*<div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                    </div>

                </div>


            </div>




    <!-- /.row -->
        </section>
    }*@
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Plan Name" id="title">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected" value="1">Private</option>
                                <option value="2">Public</option>

                            </select>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>StartDate</label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" id="startdate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>DueDate</label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" id="duedate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" placeholder="Type your description of the task here" id="description"></textarea>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputFile">Attachments</label>
                                <input type="file" id="exampleInputFile">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div style="text-align:right; margin-top:10px "><input type="submit" value="Save" id="btnsave"></div>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <!-- form start -->




                </div>

            </div>
        </div>
        <!-- /.row -->
</section>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('.startdate').datetimepicker();
            $('.duedate').datetimepicker();
        });
    </script>
    <script>
        $(document).ready(function () {
            //firing function on button click
            $("#btnsave").click(function () {
                //Creating Javascript array to post it as json data
                var EmpModel = {
                    Name: $("#Name").val(),
                    City: $("#City").val(),
                    Address: $("#Address").val()
                };
                $.ajax({
                    type: "POST",
                    URL: "/Home/AddEmployee",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ EmpDet: EmpModel }),
                    error: function (response) {
                        alert(response.responseText);

                    },
                    //After successfully inserting records
                    success: function (response) {

                        //Reload Partial view to fetch latest added records
                        $('#DivEmpList').load("/Home/EmployeeDetails");
                        alert(response);

                    }
                });

            });


        });
    </script>
}