@model WebApplication.Models.Plan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">

                                <h2>Create Plan</h2>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <hr>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StatusID, "StatusID", htmlAttributes: new { @class = "control-label " })

                                        @Html.DropDownList("StatusID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Startdate, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Startdate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Startdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Duedate, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Duedate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Duedate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })

                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", cols = "20" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10" style="text-align:right">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>


                            @*<div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                    </div>

                </div>


            </div>




    <!-- /.row -->
        </section>
    }*@

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <h2>Create Plan</h2>
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Plan Name" id="title" onkeyup=handleInput(this)>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control select2" style="width: 100%;" id="status" name="status " onkeyup=handleInput(this)>
                                <option selected="selected" value="private">Private</option>
                                <option value="public">Public</option>

                            </select>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>StartDate</label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" id="startdate" onkeyup=handleInput(this) />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>DueDate</label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" id="duedate" onkeyup=handleInput(this) />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" placeholder="Type your description of the task here" id="description" onkeyup=handleInput(this)></textarea>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputFile">Attachments</label>
                                <input type="file" id="exampleInputFile">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div style="text-align:right; margin-top:10px "><button onclick=submitData()>Send</button></div>
                        </div>
                    </div>
                    <div id="output"></div>
                    <!-- /.box-header -->
                    <!-- form start -->




                </div>

            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('.startdate').datetimepicker();
            $('.duedate').datetimepicker();
        });
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <script>
        var createCORSRequest = function (method, url) {
            var xhr = new XMLHttpRequest();
            if ("withCredentials" in xhr) {
                // Most browsers.
                xhr.open(method, url, true);
            } else if (typeof XDomainRequest != "undefined") {
                // IE8 & IE9
                xhr = new XDomainRequest();
                xhr.open(method, url);
            } else {
                // CORS not supported.
                xhr = null;
            }
            return xhr;
        };

        var url = 'http://capstoneproj.azurewebsites.net/api/CreatePlan?code=neSlU5xWY8WR4KxvDnbSIxWaAitArskdsBURwE2G36HvD581ZLhL2Q==';
        var method = 'POST';
        var xhr = createCORSRequest(method, url);

             xhr.onload = function () {
           
            };

            xhr.onerror = function () {
                
            };
            function submitData() {
                var output = document.getElementById("output");
                var title = document.getElementById("title").value;
                //alert(title);
                var description = document.getElementById("description").value;
                // alert(description);
                var statuss = $('#status').val();
                //alert(status);
                var startdate = document.getElementById("startdate").value;
                //alert(startdate);
                var duedate = document.getElementById("duedate").value;
                // alert(duedate);
                var data = JSON.stringify({
                    "title": title,
                    "description": description,
                    "status": statuss,
                    "startdate": startdate,
                    "duedate": duedate
                });
                xhr.send(data);
                alert("Send" + data);

            }
        
    </script>
}